.container-fluid {
    background-color: rgb(196, 192, 192);
}

.jumbotron {
    text-align: center;
    background-image: url(https://images.pexels.com/photos/125457/pexels-photo-125457.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.citySearch {
    border: 5px rgb(49, 49, 49) groove;
    height: 630px;
    
}
.cityInput {
    margin-top: 20px;
}

.row {
    margin-bottom: 10px;
    
}

#weather {
    padding: 50px 50px 30px;
    margin-bottom: 50px;
    background-color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
}
#oneDayDisplay {
    background-color: darkgray;
    border: solid black 1px;  
    margin-left: 20px;  
    width: 1060px;


}
#uvindex{
    font-weight: bolder;
    color: black;
    width: 150px;
}
#futureDisplay7, #futureDisplay15, #futureDisplay23, #futureDisplay31, #futureDisplay39{
    
    border: solid black 1px;  
    margin: 0px 10px 0px 5px;  
    padding: 30px;
    float: left;
    width: 200px;
    background-color: rgb(77, 77, 252);
    font-size: bolder;
    color: white;
} 
.savedCities {
    
    background-color: cadetblue;
    margin: 5px 0px 5px 0px;
    width: 183px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
    border: 3px black groove;
}
#futureDisplay {
    margin-left: 30px;
}



    



